/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-border-box: border-box;
    -webkit-border-box: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* HEADER  --------------------------------------------- */

header {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    background-color: #fff;
    background-image: url(images/fun4lesslogo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 60px;
}

header h1 span {
    color: #F06F35;
}

/* NAVIGATION  --------------------------------------------- */

nav {
    background-color: #E38133;
    box-shadow: 0 10px 0 #aaa;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 10px 25px;
    transition: 0.2s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #E38133;
}


/* HERO IMAGE  --------------------------------------------- */

main #hero-image-container {
    background-image: url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

main #hero-image-container h1 {
    color: #fff;
    font-size: 60px;
    opacity: 1;
    padding: 10px;
    text-align: center;
}

/* ICON AREA  --------------------------------------------- */

/* sprites */
.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 10px;
}

.sprite-money {
    width: 41px;
    height: 74px;
    background-position: -5px -5px;
}

.sprite-palm {
    width: 64px;
    height: 81px;
    background-position: -56px -5px;
}

.sprite-sun {
    width: 99px;
    height: 79px;
    background-position: -130px -5px;
}

/* layout */
#icon-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin: 50px auto;
}

#icon-area div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#icon-area p {
    text-align: center;
}

/* COMPANY HISTORY  --------------------------------------------- */

main #company-history {
    background-color: #ececec;
    padding: 50 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

main #company-history h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #company-history p {
    margin: 10px 0;
}

main #company-history img {
    width: 100%;
}

/* POPULAR DESTINATIONS --------------------------------------------- */

main #popular-destinations {
    /* padding: 50 150px; */
    padding: 50px;
}

main #popular-destinations h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #popular-destinations div {
    display: flex;
    justify-content: space-around;
}

main #popular-destinations div figure {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

main #popular-destinations div figure figcaption {
    padding: 5px 12px;
    margin-top: -35px;
    text-align: right;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
}