/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-border-box: border-box;
    -webkit-border-box: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* HEADER  --------------------------------------------- */

header {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    background-color: #fff;
    background-image: url(images/fun4lesslogo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 60px;
}

header h1 span {
    color: #F06F35;
}

header div {
    display: flex;
    align-items: center;
}

header div i {
    margin-left: 10px;
    font-size: 20px;
}

/* NAVIGATION  --------------------------------------------- */

nav {
    background-color: #E38133;
    box-shadow: 0 10px 0 #aaa;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 10px 25px;
    transition: 0.2s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #E38133;
}

nav .active {
    background-color: #fbd31c;
    color: #fff;
}


/* HERO IMAGE  --------------------------------------------- */

main .hero-image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero-image-container h1 {
    color: #fff;
    font-size: 60px;
    opacity: 1;
    padding: 10px;
    text-align: center;
}

main #hero-homepage {
    background-image: url(images/hero-image.jpg);
}

main #destination-hero {
    background-image: url(images/destination-hero.jpg);
}

/* ICON AREA  --------------------------------------------- */

/* sprites */
.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 10px;
}

.sprite-money {
    width: 41px;
    height: 74px;
    background-position: -5px -5px;
}

.sprite-palm {
    width: 64px;
    height: 81px;
    background-position: -56px -5px;
}

.sprite-sun {
    width: 99px;
    height: 79px;
    background-position: -130px -5px;
}

/* layout */
#icon-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    width: 90%;
    margin: 50px auto;
}

#icon-area div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#icon-area p {
    text-align: center;
}

/* COMPANY HISTORY  --------------------------------------------- */

main #company-history {
    background-color: #ececec;
    padding: 50 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

main #company-history h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #company-history p {
    margin: 10px 0;
}

main #company-history img {
    width: 100%;
}

/* POPULAR DESTINATIONS --------------------------------------------- */

main #popular-destinations {
    /* padding: 50 150px; */
    padding: 50px;
}

main #popular-destinations h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #popular-destinations div {
    display: flex;
    justify-content: space-around;
}

main #popular-destinations div figure {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

main #popular-destinations div figure figcaption {
    padding: 5px 12px;
    margin-top: -35px;
    text-align: right;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
}

/* TESTIMONIALS --------------------------------------------- */

main #testimonials {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #ececec;
}

main #testimonials .quote-box {
    background-color: #89a435;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0px 1px 2px 2px #607425;
    margin: 0 20px;
    font-weight: 600;
}

main #testimonials .quotation-mark {
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

main #testimonials .quote-text {
    margin: -30px 0 20px 0;
}

main #testimonials .quote-author {
    margin: 20px 0 0 0;
}

main #testimonials hr {
    border: 0.5px solid #fff;

}

/* DESTINATION GALLERY --------------------------------------------- */

main #destination-gallery h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #destination-gallery {
    padding: 50px;
}

main #destination-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main #destination-gallery-container figure {
    margin: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 2px 5px #aaa;
}

main #destination-gallery-container figure figcaption {
    padding: 10px;
}

/* FOOTER --------------------------------------------- */

footer {
    background-color: #E38133;
    padding: 10px;
    color: #fff;
    text-align: center;
}