/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-border-box: border-box;
    -webkit-border-box: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* HEADER  --------------------------------------------- */

header {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    background-color: #fff;
    background-image: url(images/fun4lesslogo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 60px;
}

header h1 span {
    color: #F06F35;
}

/* NAVIGATION  --------------------------------------------- */

nav {
    background-color: #E38133;
    box-shadow: 0 10px 0 #aaa;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 10px 25px;
    transition: 0.2s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #E38133;
}


/* HERO IMAGE  --------------------------------------------- */

main #hero-image-container {
    background-image: url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 201px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

main #hero-image-container h1 {
    color: #fff;
    font-size: 60px;
    opacity: 1;
    padding: 10px;
    text-align: center;
}