/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-border-box: border-box;
    -webkit-border-box: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* HEADER  --------------------------------------------- */

header {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    background-color: #fff;
    background-image: url(images/fun4lesslogo.png);
    background-repeat: no-repeat;
    background-position-y: 50%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 60px;
}

header h1 span {
    color: #F06F35;
}

header div {
    display: flex;
    align-items: center;
}

header div i {
    margin-left: 10px;
    font-size: 20px;
}

/* NAVIGATION  --------------------------------------------- */

/* phone */
@media only screen and (max-width: 600px) {
    nav {
        background-color: #ececec;
        padding: 5px;
    }

    nav ul {
        list-style-type: none;
    } 
    nav ul li a {
        text-decoration: none;
        color: #fff;
        background-color: #E38133;
        font-weight: 600;
        display: block;
        padding: 10px 25px;
        transition: 0.2s;
        border-radius: 10px;
        margin: 5px 0;
    }
}

/* desktop */
@media only screen and (min-width: 601px) {
    nav {
        background-color: #E38133;
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        display: block;
        padding: 10px 25px;
        transition: 0.2s;
    }
    
    nav ul li a:hover {
        background-color: #fff;
        color: #E38133;
    }
}

nav .active {
    background-color: #fbd31c;
    color: #fff;
}


/* HERO IMAGE  --------------------------------------------- */

main .hero-image-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 250px;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .hero-image-container h1 {
    color: #fff;
    font-size: 60px;
    opacity: 1;
    padding: 10px;
    text-align: center;
}

main #hero-homepage {
    background-image: url(images/hero-image.jpg);
}

main #destination-hero {
    background-image: url(images/destination-hero.jpg);
}

main #packages-hero {
    background-image: url(images/packages-hero.jpg);
}

/* ICON AREA  --------------------------------------------- */

/* sprites */
.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    margin: 10px;
}

.sprite-money {
    width: 41px;
    height: 74px;
    background-position: -5px -5px;
}

.sprite-palm {
    width: 64px;
    height: 81px;
    background-position: -56px -5px;
}

.sprite-sun {
    width: 99px;
    height: 79px;
    background-position: -130px -5px;
}

/* layout ---- */

/* phone */
@media only screen and (max-width: 600px) {
    #icon-area {
        display: grid;
        grid-gap: 40px;
        width: 90%;
        margin: 50px auto;
    }
}

/* desktop */
@media only screen and (min-width: 601px) {
    #icon-area {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;
        width: 90%;
        margin: 50px auto;
    }
}

#icon-area div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#icon-area p, #icon-area h1 {
    text-align: center;
}

/* COMPANY HISTORY  --------------------------------------------- */

/* phone */
@media only screen and (max-width: 911px) {
    main #company-history {
        background-color: #ececec;
        padding: 50px;
        display: grid;
        grid-gap: 20px;
    }
}

/* desktop */
@media only screen and (min-width: 910px) {
    main #company-history {
        background-color: #ececec;
        padding: 50px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 20px;
    }
}

main #company-history h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #company-history p {
    margin: 10px 0;
}

main #company-history div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main #company-history img {
    width: 300px;
}

/* POPULAR DESTINATIONS --------------------------------------------- */

main #popular-destinations {
    padding: 50px;
}

main #popular-destinations h1 {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main #popular-destinations div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main #popular-destinations div figure {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 20px;
}

main #popular-destinations div figure figcaption {
    padding: 5px 12px;
    margin-top: -35px;
    text-align: right;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
    font-size: 18px;
}

/* TESTIMONIALS --------------------------------------------- */

main #testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    background-color: #ececec;
}

main #testimonials .quote-box {
    background-color: #89a435;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0px 1px 2px 2px #607425;
    margin: 20px;
    font-weight: 600;
    max-width: 450px;
}

main #testimonials .quotation-mark {
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

main #testimonials .quote-text {
    margin: -30px 0 20px 0;
}

main #testimonials .quote-author {
    margin: 20px 0 0 0;
}

main #testimonials hr {
    border: 0.5px solid #fff;

}

/* ----------- */
/* shared with destination gallery and packages pages */
main .page-wrapper .page-caption {
    text-align: center;
    font-size: 30px;
    color: #E38133;
    margin-bottom: 25px;
}

main .page-wrapper {
    padding: 50px;
}
/* ----------- */

/* DESTINATION GALLERY --------------------------------------------- */

main #destination-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main #destination-gallery-container figure {
    margin: 20px;
    border: 1px solid #aaa;
    box-shadow: 0 2px 5px #aaa;
}

main #destination-gallery-container figure figcaption {
    padding: 10px;
}

/* VACATION PACKAGES --------------------------------------------- */
#vacation-packages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* phone */
@media only screen and (max-width: 780px) {
    #vacation-packages-container figure {
        background-color: #ececec;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-top: 4px solid #fbd31c;
        /* max-width: 600px; */
        margin: 20px;
    }
}

/* desktop */
@media only screen and (min-width: 781px) {
    #vacation-packages-container figure {
        background-color: #ececec;
        display: flex;
        align-items: center;
        padding: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-top: 4px solid #fbd31c;
        max-width: 840px;
        margin: 20px;
    }
}

#vacation-packages-container figure img {
    /* height: 200px; */
    width: 100%;
}

#vacation-packages-container figure figcaption {
    margin-left: 15px;
}

#vacation-packages-container figure figcaption h1 {
    color: #E38133;
}

#vacation-packages-container figure figcaption a {
    text-decoration: none;
}

.hotel {
    font-weight: 600;
}

.description {
    font-size: 14px;
}

#vacation-packages-container figure figcaption h2 {
    color: #89a435;
}

#vacation-packages-container figure figcaption p {
    margin: 10px 0;
}

/* CONTACT US --------------------------------------------- */

#contact-us-h1 {
    text-align: left;
}

form {
    margin: 30px 0;
}

form div {
    display: flex;

}

form span {
    display: block;
    margin-bottom: 3px;
}

.user-info {
    width: 30vw;
    height: 40px;
    margin-right: 30px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.user-info:focus {
    background-color: #d6d6d6;
    outline: none;
}

form input[type="radio"] {
    margin: 5px 3px 15px 0px;
}

form .contact-preference {
    margin-right: 10px;
}

form #message {
    width: 63vw;
    height: 100px;
}

form input[type="submit"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 20vw;
    height: 40px;
    border: none;
    background-color: #89a435;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    transition: 0.2s;
}

form input[type="submit"]:hover {
    background-color: #607425;
    cursor: pointer;
}

form p {
    font-style: italic;
    font-size: 14px;
}


/* FOOTER --------------------------------------------- */

footer {
    background-color: #E38133;
    padding: 10px;
    color: #fff;
    text-align: center;
}